body
{
  height: 100px;
  width: 1360px;
  margin: 0 auto;
}
#baner
{
  height: 150px;
  width: 1366px;
  background:url("../Imagenes/portada.jpg");
  float: left;
}

#logo
{
  margin-top: 40px;
  margin-left: 350px;
  height: 80px;
  width: 190px;
  float: left;
}

#menu
{
  height: 50px;
  width: 1366px;
  background: #B0EEFF;
  float: left;
}

ul#menu
{
  text-align: center;
  padding: 0;
}

ul#menu li
{

  display: inline-block;
}

ul#menu li a
{
  background: #18BAE6;
  color: blue;
  padding: 13px 80px;
  text-decoration:none;
  border-radius: 4px 4px 4px 4px;
}

ul#menu li a:hover
{
  background: #008FB6;

}

#contenido
{
  height: 468px;
  width: 1366px;
  float: left;
}

#Centro
{
  height: 468px;
  width: 1366px;
  float: left;

}

#Fondo
{
  margin-top: 0px;
  margin-left: 0px;
  height: 0px;
  width: 0px;
  float: left;
}

h1
{
  font-family: sans-serif, Arial;
  color:white;
  text-align:left;
  font-size: 40px;
  margin-left: 50px;
}

h2
{
  font-family: sans-serif, Arial;
  color:white;
  text-align:left;
  font-size: 25px;
  margin-left: 50px;
}
h3
{
  font-family: sans-serif, Arial;
  color:black;
  text-align:justify;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

h4
{
  font-family: sans-serif, Arial;
  color:black;
  text-align:justify;
  font-size: 23px;
  margin-left: 50px;
  margin-right: 50px;
}

h5
{
  font-family: sans-serif, Arial;
  color:black;
  text-align:justify;
  font-size: 15px;
  margin-left: 50px;
  margin-right: 750px;
}

h6
{
  font-family: sans-serif, Arial;
  color:black;
  text-align:justify;
  font-size: 15px;
  margin-left: 750px;
  margin-right: 50px;
}
